@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --dark-primary: #1a1a1a;
    --dark-secondary: #333;

    --light-text: #ddd;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--dark-primary);
    color: var(--light-text);
}
p, span, a {
    font-size: 18px;
    line-height: 30px;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 35px;
}

img {
    width: 100%;
    object-fit: cover;
}
input {
    padding: 5px 15px;
    background: transparent;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    max-width: 250px;
    width: 100%;
    color: #ddd;
    background: #161616a2;
    box-shadow: 0 0 45px #161616;
    border-radius: 6px;
}
input::placeholder {
    color: #ddd;
    font-weight: 300;
}
button, .btn {
    background: transparent;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 5px 15px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    background: #145bde;
}
button:hover {
    background: #124db9;
}
.warning p{
    color: #ff5f5f;
}





/* ===== Sidebar ===== */

.sidebar {
    border-right: solid 1px #333;
    max-width: 200px;
    width: 100%;
    height: 100%;
}

/* ===== Sidebar Content ===== */


.sidebar__content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* ===== Sidebar Top ===== */

.sidebar__top {
    cursor: pointer;
    padding: 5px 15px;
    transition: .3s ease;
    margin-top: 20px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    gap: 1em;
}
.sidebar__top:hover {
    background: #333;
}

/* ===== User Avatar ===== */


.user__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

/* ===== Sidebar Box ===== */

.sidebar__box {
    margin-bottom: 20px;
    transition: .2s ease;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.sidebar__box:hover {
    background: #161616;
}

/* ===== Sidebar Icon ===== */

.sb__ico {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 12px;
    background: #333;
}
.sb__ico i {
    font-size: 20px;
}

/* ===== Main ===== */

main {
    position: relative;
    overflow: auto;
}

/* ===== Guild Container ===== */

.guild__container {
    margin-top: 20px;
    position: relative;
    overflow: auto;
    padding: 1em 0;
}

/* ===== Guild Content ===== */

.guild__contnet {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ===== Guild BOX Holder ===== */

.guild__holder__box {
    cursor: pointer;
    max-width: 80%;
    width: 100%;
    overflow: hidden;
    transition: .3s ease;

    border-radius: 12px;
    padding: 10px 25px;
    border: solid 1px var(--dark-secondary);
}

/* ===== Guild Header ===== */


.guild__header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 20px;
}

/* ===== Guild Avatar ===== */


.guild__avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 65px var(--dark-secondary);
}

/* ===== Guild Server Count ===== */

.guild__server__count {
    font-size: 18px;
    color: #3b7fff;
}

/* ===== Guild Server Size (actual number of server members) ===== */

.server__size {
    font-size: 18px;
}


/* ===== Guild Banner ===== */


.guild__banner__holder {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    height: 300px;
    transition: .3s ease;
    border: solid 1px var(--dark-secondary);
}

/* ===== Guild Banner Overlay ===== */


.guild__banner__holder .overlay {
    border-radius: 6px;
    position: absolute;
    content: '';
    transition: .3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    background: #33333367;
    backdrop-filter: blur(8px);
}
.view__server {
    padding: 5px 15px;
    transition: .3s ease;
    border-radius: 12px;
}
.view__server:hover {
    background: #dddddd79;

}
/* ===== Guild Banenr Overlay Show On Hover ===== */


.guild__banner__holder:hover .overlay {
    opacity: 1;
}

/* ===== Guild Short Description ===== */

.guild__description__holder {
    max-height: 80px;
    height: 100%;
    overflow: hidden;

    position: relative;
}

/* ===== Guild Short Description Paragraph ===== */

.guild__description__holder p {
    font-size: 18px;
}